* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  outline: 0; }

/* >>>>---- HELPERS ----*/
.margin-sm {
  margin: 0.5rem; }

.center-align, .center-align-absolute {
  margin-left: auto;
  margin-right: auto; }

.center-align-absolute {
  left: 0;
  right: 0; }

.center-text {
  text-align: center; }

.padding-sm {
  padding: 1em; }

.box-radius {
  border-radius: 5px; }

.not-visible, .notVisible {
  /*  visibility: hidden;*/
  opacity: 0;
  -webkit-transition: opacity 1s linear; }

.no-display {
  display: none; }

.is-visible {
  visibility: visible;
  opacity: 1; }

.invisible {
  visibility: hidden; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.right {
  position: relative;
  left: 50%; }

.left {
  position: absolute;
  left: 0; }

.bigger-text {
  font-size: 3em; }

.big-text {
  font-size: 1.5em; }

.mid-size-text {
  font-size: 1.2rem; }

.can-scroll {
  overflow-y: auto; }

/* ---- HELPERS ----<<<<*/
/*Flashmessge*/
.flashmessage {
  position: absolute;
  left: 65px;
  /* 100px from nav */
  bottom: 2rem;
  width: 80%;
  z-index: 99999; }
  .flashmessage span {
    padding: 0.8em;
    font-size: 1.3em; }

.flashmessage--success {
  background-color: #DFF0D8;
  color: #5CB85C;
  border: 0.18em solid #5CB85C; }

.flashmessage--danger {
  background-color: #F2DEDE;
  color: #c44640;
  border: 0.18em solid #c44640; }

.flashmessage--info {
  background-color: #D9EDF7;
  color: #1F6DB6;
  border: 0.18em solid #1F6DB6; }

/*Flashmessge*/
.splash-screen {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #172850;
  z-index: 20; }
  .splash-screen img {
    max-width: 300px;
    position: relative;
    top: 10%; }

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 10; }

.modal__box {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 25%;
  background-color: #FFF;
  border: 2px solid #019BDF; }

button#btn-close-modal, .btn-delete-resident, #btn-close-inside-page {
  background: none;
  border: none;
  position: absolute;
  right: 0.6em;
  top: 0.5em; }
  button#btn-close-modal:hover, .btn-delete-resident:hover, #btn-close-inside-page:hover {
    opacity: 0.8;
    color: #D9534F; }
  button#btn-close-modal:active, .btn-delete-resident:active, #btn-close-inside-page:active {
    opacity: 0.5;
    color: #D9534F; }

.modal__confirm-pay {
  padding-left: 1em;
  font-size: 1.05em; }
  .modal__confirm-pay button#btn-close-modal {
    background: none;
    border: none;
    position: absolute;
    right: 0.6em;
    top: 0.5em; }
  .modal__confirm-pay p, .modal__confirm-pay span {
    margin: 0.1em 0; }
  .modal__confirm-pay p > span {
    display: inline-block; }
  .modal__confirm-pay span {
    font-size: 1.2em; }
  .modal__confirm-pay span#jsAmount {
    position: relative;
    left: 60%;
    top: 15%;
    font-size: 2em; }
  .modal__confirm-pay button#btn-print-receipt {
    position: absolute;
    bottom: 0.5em; }
  .modal__confirm-pay button#btn-save-receipt {
    position: absolute;
    bottom: 0.5em;
    right: 0.6em; }

.modal__select-batch {
  color: #172850; }
  .modal__select-batch p {
    margin-top: 1rem;
    font-size: 2rem;
    padding-bottom: 2rem; }
  .modal__select-batch label {
    font-size: 1.5rem;
    margin-top: 0.5rem; }
  .modal__select-batch select {
    font-size: 1.5rem; }

.modal__generate-invoices {
  color: #172850; }
  .modal__generate-invoices p {
    margin-top: 3rem;
    font-size: 2rem;
    padding-bottom: 2rem; }
  .modal__generate-invoices select {
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }

.modal__delete-resident p {
  margin-top: 1rem;
  font-size: 1.4rem; }
.modal__delete-resident button#confirm-delete {
  margin: 1rem auto;
  background-color: #c44640; }
  .modal__delete-resident button#confirm-delete:hover {
    background-color: #c44640;
    opacity: 0.8; }

body, html {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  font-family: 'Ubuntu Condensed', sans-serif, 'calibri', 'ubuntu'; }

.big-font {
  font-size: 1.2em; }

.bigger-font {
  font-size: 1.5em; }

.normal-font {
  font-size: 1rem;
  font-weight: normal; }

.bold {
  font-weight: bold; }

.bolder {
  font-weight: bolder; }

.italic {
  font-style: italic; }

.letter-space {
  letter-spacing: 0.5em; }

#main-page, #create-page {
  width: 100%;
  height: 100%;
  position: relative; }

a {
  text-decoration: none;
  color: #000; }
  a:visited {
    color: #000; }
  a:hover {
    text-decoration: none; }

h1, h2 {
  padding: 0.1em 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 1.5em; }

header {
  width: 100%;
  height: 3.5em;
  background-color: #172850;
  top: 0;
  position: absolute;
  z-index: 10; }
  header img {
    max-width: 35px;
    position: absolute;
    right: 1rem;
    top: 0; }
  header button {
    border: none;
    background-color: #172850;
    color: #FFF;
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    z-index: 15; }
    header button:hover {
      color: #E4AB08; }
  header p {
    position: relative;
    top: 1rem;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: bold; }
  header .menu {
    position: absolute;
    background-color: #fff;
    width: 17rem;
    height: 12.2rem;
    top: 2.5rem;
    left: 1.2rem;
    box-shadow: 5px 5px 18px -6px #000000; }
    header .menu li {
      font-size: 1.1rem; }
    header .menu a {
      padding: 1rem 1rem;
      text-align: left; }
      header .menu a:hover {
        background-color: #019BDF;
        color: #fff; }

nav {
  width: 80px;
  background-color: #019BDF;
  height: 100%;
  padding-top: 3.5em;
  position: absolute;
  left: 0;
  z-index: 9;
  /* & .icon-selected {
       background-color: $main-color;
       & span {
           color: $crown-color;
       }
   }*/
  /* & a:hover {
       background-color: $main-color;
       & span {
           color: $crown-color;
       }
   }*/ }
  nav a {
    margin-top: 2em;
    padding: 0.2em 0.2em 0.2em 0; }
  nav span {
    color: #fff;
    font-size: 0.9rem; }
  nav a[href="#add-payment-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-money.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%; }
  nav a[href="#add-payment-page"]:hover::before {
    background-image: url(../img/icon-money-o.png); }
  nav a[href="#add-payment-page"].icon-selected::before {
    background-image: url(../img/icon-money-o.png); }
  nav a[href="#residents-list-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-users.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%; }
  nav a[href="#residents-list-page"]:hover::before {
    background-image: url(../img/icon-users-o.png); }
  nav a[href="#residents-list-page"].icon-selected::before {
    background-image: url(../img/icon-users-o.png); }
  nav a[href="#invoices-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-invoice.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%; }
  nav a[href="#invoices-page"]:hover::before {
    background-image: url(../img/icon-invoice-o.png); }
  nav a[href="#invoices-page"].icon-selected::before {
    background-image: url(../img/icon-invoice-o.png); }
  nav a[href="#accounting-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-saving-book.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%; }
  nav a[href="#accounting-page"]:hover::before {
    background-image: url(../img/icon-saving-book-o.png); }
  nav a[href="#accounting-page"].icon-selected::before {
    background-image: url(../img/icon-saving-book-o.png); }

.btn {
  background-color: #019BDF;
  border-radius: 5px;
  color: #FFF;
  border: none;
  font-size: 1.5rem;
  width: 7.5em; }
  .btn:hover {
    background-color: #E4AB08; }
  .btn:active {
    background-color: #E4AB08;
    opacity: 0.8; }
  .btn i {
    position: relative;
    float: left; }

.btn__big {
  height: 9rem;
  width: 7rem;
  font-size: 1.2rem; }

.btn--selected {
  background-color: #E4AB08; }

.btn--confirm {
  background-color: #5CB85C; }
  .btn--confirm:hover {
    background-color: #5CB85C;
    opacity: 0.8; }

.page {
  width: 100%;
  height: 100%; }

.add-payment-page__box, .residents-list-page__box, .invoices-page__box {
  padding-top: 5em;
  width: 100%;
  height: 100%; }

#form-search {
  position: relative; }
  #form-search p {
    color: #a2a2a2;
    font-size: 1.4em;
    margin-bottom: 1em; }
  #form-search input {
    width: 45%;
    font-size: 1.7em;
    border: 2px solid #E4AB08;
    padding: 0.2em; }
  #form-search button {
    margin-top: 0.8em; }

#form-receipt {
  margin-left: 7rem;
  position: relative; }
  #form-receipt label, #form-receipt p {
    font-size: 2.4em;
    color: #172850;
    border: none; }
  #form-receipt span {
    font-size: 1.1em;
    color: #a2a2a2; }
  #form-receipt #btn-close-form-receipt {
    background-color: #fff;
    border: none;
    position: relative;
    left: 85%; }
    #form-receipt #btn-close-form-receipt:hover {
      color: #D9534F; }
    #form-receipt #btn-close-form-receipt:active {
      opacity: 0.5;
      color: #D9534F; }
  #form-receipt input#jsAmount {
    border: 1px solid #fff;
    padding: 0.4rem;
    font-size: 2rem;
    width: 18rem;
    color: #172850; }
    #form-receipt input#jsAmount:focus {
      background-color: #172850;
      color: #fff;
      border: 1px solid #E4AB08; }
  #form-receipt #wrapper-btn-pay-method input, #form-receipt select {
    color: #172850;
    border: solid 2px #019BDF;
    position: relative;
    width: 13em;
    top: 0.5em;
    padding-left: 0.2em; }

#wrapper-btn-pay-method {
  width: 100%;
  right: 65px;
  /* 100px from nav */
  position: relative; }
  #wrapper-btn-pay-method button {
    display: inline-block; }

#btn-confirm {
  position: absolute;
  right: 1em;
  bottom: -6em; }

#search-list, #search-list-resident-card, #extraordinary-invoices-list {
  width: 60%;
  position: relative;
  margin-top: 2em; }
  #search-list li, #search-list-resident-card li, #extraordinary-invoices-list li {
    padding: 0.4em 0; }
  #search-list li a, #search-list-resident-card li a, #extraordinary-invoices-list li a {
    text-align: left;
    font-size: 2em;
    padding: 0.1em; }
    #search-list li a:hover, #search-list-resident-card li a:hover, #extraordinary-invoices-list li a:hover {
      color: #FFF;
      background-color: #019BDF;
      cursor: default; }
    #search-list li a:active, #search-list-resident-card li a:active, #extraordinary-invoices-list li a:active {
      background-color: #00B1FF; }
    #search-list li a i, #search-list-resident-card li a i, #extraordinary-invoices-list li a i {
      position: absolute;
      left: 95%; }

.choose-resident #search-list {
  width: 80%;
  height: 9rem;
  overflow-x: hidden;
  overflow-y: auto; }

.residents-list-page__box {
  position: relative; }
  .residents-list-page__box input {
    width: 45%;
    font-size: 1.7em;
    border: 2px solid #E4AB08;
    padding: 0.2em; }
  .residents-list-page__box button {
    margin: 0.5em auto; }
  .residents-list-page__box #search-list-resident-id {
    width: auto;
    display: block; }
  .residents-list-page__box #btn-close-modal {
    top: 4rem;
    right: 0; }
  .residents-list-page__box .btn-delete-resident {
    top: initial;
    right: 0;
    bottom: 0; }

.form-resident-card {
  width: 84%;
  height: 33rem;
  padding: 0.5rem;
  overflow-y: auto;
  position: relative;
  left: 1.5rem; }
  .form-resident-card .input-group {
    margin: 0 auto 1rem auto; }
  .form-resident-card label {
    margin: 0;
    margin-left: 0.3em;
    color: #a2a2a2;
    padding: 0.2em 0 0 0; }
  .form-resident-card input, .form-resident-card select {
    margin: 0;
    color: #172850;
    padding-bottom: 0.2em;
    border: 1px #fff solid;
    font-size: 1.15em;
    width: auto;
    background-color: #DCDCDC;
    border-radius: 5px; }
    .form-resident-card input[type="tel"], .form-resident-card select[type="tel"] {
      width: 10.5em; }
    .form-resident-card input:focus, .form-resident-card select:focus {
      background-color: #172850;
      color: #fff; }
    .form-resident-card input:hover, .form-resident-card select:hover {
      border: 1px black solid; }
  .form-resident-card span {
    display: inline-block;
    width: 12em; }
  .form-resident-card .wrapper {
    display: inline-block; }
  .form-resident-card span.short-input {
    width: 5rem;
    margin-right: 1rem; }
    .form-resident-card span.short-input input {
      width: 6rem; }
  .form-resident-card input.bank-account {
    width: 10.65rem; }

.form-resident-card--expanded {
  height: 25em; }

#main-page img {
  max-width: 300px;
  top: 4rem;
  position: relative; }

.receipt-body, .receipt-html, .invoice-body, .invoice-html {
  overflow: auto;
  width: 8.5in;
  height: 11in; }

.invoice-html {
  overflow: auto;
  width: 8.5in;
  height: auto; }

.invoice-body {
  overflow: auto;
  height: auto;
  width: auto; }

.printable-receipt {
  width: 50%;
  height: 50%; }
  .printable-receipt img {
    width: 25%;
    height: 25%; }
  .printable-receipt p {
    margin: 0;
    font-size: 1.1em; }
  .printable-receipt .space-creator {
    margin: 2em 0; }

.invoice-page {
  width: 8.5in;
  height: 11in;
  position: relative;
  display: block; }
  .invoice-page img {
    max-width: 35%;
    position: relative;
    top: 0; }
  .invoice-page .invoice-header {
    height: 9.5rem;
    margin-bottom: 1em; }
    .invoice-page .invoice-header p#invoice-text-header {
      position: absolute;
      top: 2.9rem;
      right: 0; }
    .invoice-page .invoice-header p span {
      font-size: 1rem; }
  .invoice-page .frase-text {
    width: 100%;
    height: 5rem;
    border: 3px solid #019BDF;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center; }
    .invoice-page .frase-text p {
      margin: 0.3rem auto; }
  .invoice-page .resident-details {
    height: 7em;
    vertical-align: top; }
  .invoice-page .invoice-details {
    height: 7em;
    vertical-align: top;
    line-height: 2em;
    position: absolute;
    left: 50%; }
    .invoice-page .invoice-details p {
      font-size: 1.1rem; }
  .invoice-page .invoice-details__data {
    height: 7em;
    vertical-align: top;
    text-align: right;
    line-height: 2em;
    float: right; }

.pagada {
  background-image: url(../img/pagada.png);
  background-position: 0;
  background-size: cover; }

table.invoice {
  margin-top: 2rem; }
  table.invoice .table-head {
    padding: 0.5em 0;
    border-top: solid 2px #019BDF;
    border-bottom: solid 2px #019BDF;
    color: #172850; }
  table.invoice th {
    font-weight: bold; }
  table.invoice .data {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem; }
  table.invoice th, table.invoice td {
    display: inline-block; }
  table.invoice .qty {
    width: 5em;
    text-align: center; }
  table.invoice .description {
    width: 20em; }
  table.invoice th.description {
    text-align: center; }
  table.invoice .amount, table.invoice .total {
    width: 10em;
    text-align: right; }
  table.invoice .data__total {
    margin-top: 1em; }
    table.invoice .data__total .amount, table.invoice .data__total .total {
      font-weight: bold; }

table.footer {
  position: absolute;
  bottom: 1rem;
  width: 60%;
  border: 2px solid black; }
  table.footer td {
    border: 2px solid black;
    text-align: center;
    padding: 0.4rem 0; }

.invoices-page__box button {
  margin: 1em auto; }
.invoices-page__box input {
  width: 45%;
  font-size: 1.7em;
  border: 2px solid #E4AB08;
  padding: 0.2em; }
.invoices-page__box section#invoices-page__buttons {
  width: 80%;
  height: 10rem;
  position: relative;
  top: 4rem; }
  .invoices-page__box section#invoices-page__buttons .btn__big {
    margin: auto 1rem;
    display: inline-block;
    position: relative; }
    .invoices-page__box section#invoices-page__buttons .btn__big i {
      float: none;
      position: absolute;
      top: 0.5rem;
      text-align: center; }
    .invoices-page__box section#invoices-page__buttons .btn__big p {
      position: absolute;
      bottom: 0.1rem;
      font-size: 1.1rem; }
.invoices-page__box section#invoices-page__resident-payed {
  background-color: #E8E8E8;
  border: 2px solid #019BDF;
  width: 46rem;
  height: 30rem;
  margin-left: 8rem;
  position: relative;
  padding: 1rem;
  overflow-y: scroll; }
  .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__box {
    position: relative;
    top: -4rem;
    height: 1rem; }
  .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__detaills {
    background-color: #fff;
    box-shadow: 0px 8px 16px -6px #000000;
    height: 9rem;
    width: 21rem;
    position: relative;
    text-align: center; }
    .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__detaills p {
      padding: 0.3rem 0 0.15rem 0rem; }
      .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__detaills p.invoice-id {
        color: #E4AB08;
        font-weight: 700;
        font-size: 1.2rem; }
      .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__detaills p.amount {
        color: #172850;
        font-weight: bold; }
      .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__detaills p.description {
        font-weight: bold; }
  .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__buttons {
    background-color: #fff;
    width: 17rem;
    margin-left: 2rem;
    position: relative;
    top: 13rem;
    padding: 0 0.5rem; }
    .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__buttons button {
      width: 4rem;
      font-size: 1rem;
      display: inline-grid; }
    .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__buttons button.btn--delete {
      background-color: #a2a2a2;
      float: right; }
      .invoices-page__box section#invoices-page__resident-payed .invoices-page__resident-payed__buttons button.btn--delete:hover {
        background-color: #c44640; }
  .invoices-page__box section#invoices-page__resident-payed #btn-close-modal {
    top: 10.3em;
    right: 0.85em;
    position: fixed; }

.input-group label {
  display: inline-block; }

.configs-page-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-left: 80px; }
  .configs-page-box .configs-form {
    top: 2rem;
    position: relative;
    left: 3rem; }
  .configs-page-box label {
    margin: 0;
    margin-left: 0.3em;
    color: #a2a2a2;
    padding: 0.2em 0 0 0;
    display: inline-block;
    margin-top: 1.5rem; }
  .configs-page-box input, .configs-page-box textarea {
    margin: 0;
    color: #172850;
    padding-bottom: 0.2em;
    padding-left: 0.5rem;
    border: 1px #fff solid;
    font-size: 1.15em;
    width: auto;
    background-color: #DCDCDC;
    border-radius: 5px; }
    .configs-page-box input:focus, .configs-page-box textarea:focus {
      background-color: #172850;
      color: #fff; }
    .configs-page-box input:hover, .configs-page-box textarea:hover {
      border: 1px black solid; }
  .configs-page-box .config-category {
    width: 10rem; }
  .configs-page-box label input[name="config-email"] {
    width: 41.9rem; }
  .configs-page-box label input[name="config-bank"], .configs-page-box label input[name="config-bank-account"] {
    width: 20.7rem; }
  .configs-page-box label input[name="config-frase"] {
    width: 41.9rem;
    height: 4rem; }
  .configs-page-box textarea {
    width: 41.9rem;
    height: 4rem;
    font-size: 1.1rem; }
  .configs-page-box button {
    position: absolute;
    bottom: 2rem; }

.inner-box {
  padding: 0 1rem; }
  .inner-box label {
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 0.3em;
    color: #a2a2a2;
    padding: 0.2em 0 0 0; }
  .inner-box input, .inner-box select {
    color: #172850;
    padding-bottom: 0.2em;
    border: 1px #fff solid;
    font-size: 1.15em;
    width: auto;
    background-color: #DCDCDC;
    border-radius: 5px;
    margin-bottom: 0.2rem; }
  .inner-box select {
    margin: auto;
    margin-bottom: 1rem; }
  .inner-box button {
    width: 13.9rem; }
  .inner-box.choose-batch-type button {
    margin: 1rem auto;
    width: 20rem; }

.accounting-page-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-left: 80px; }
  .accounting-page-box p {
    display: block; }
  .accounting-page-box .header {
    background-color: #ced5df;
    width: 100%;
    height: 5rem;
    padding: 0.7rem;
    color: #172850;
    position: relative;
    top: -1.48rem; }
    .accounting-page-box .header h3 {
      width: 100%;
      display: block;
      margin-bottom: 0.8rem; }
    .accounting-page-box .header div {
      display: inline-block;
      width: 9.6rem;
      border-right: 1px solid #172850; }
      .accounting-page-box .header div p:nth-child(1) {
        font-size: 0.8rem; }
      .accounting-page-box .header div p:nth-child(2) {
        font-size: 1.3rem;
        font-style: bold; }
    .accounting-page-box .header div:nth-child(6) {
      border: none; }
  .accounting-page-box #btn-close-inside-page {
    position: absolute;
    right: 3rem;
    top: 8rem;
    border: none;
    background: none; }
  .accounting-page-box section .btn__big {
    width: 8rem;
    margin: auto 1rem;
    display: inline-block;
    position: relative; }
    .accounting-page-box section .btn__big i {
      float: none;
      position: absolute;
      top: 0.5rem;
      text-align: center; }
    .accounting-page-box section .btn__big p {
      position: absolute;
      bottom: 0.1rem;
      font-size: 1.1rem; }
  .accounting-page-box .accounting-page__inside-page {
    position: relative;
    width: 50rem;
    height: 33rem; }
  .accounting-page-box #accounting-page-residents-list {
    overflow-y: auto;
    position: relative; }
    .accounting-page-box #accounting-page-residents-list .list {
      background-color: #ced5df;
      width: 80%;
      height: 9rem;
      position: relative;
      color: #172850;
      font-size: 1.1rem;
      margin: 1rem;
      padding: 1rem; }
  .accounting-page-box #accounting-page-add-debit {
    overflow-y: auto; }

#table-debit {
  font-size: 0.95rem; }
  #table-debit .red-on-hover:hover {
    background-color: #c44640;
    color: #fff;
    cursor: url("../img/delete-sign.png"), auto; }
  #table-debit .red-on-hover:active {
    opacity: 0.8; }

.table-extraordinary-invoices {
  margin-bottom: 1rem; }
  .table-extraordinary-invoices .color-red {
    color: red; }

#vm-component-search {
  position: relative; }
  #vm-component-search input {
    width: 45%;
    height: 2rem;
    font-size: 1.7em;
    border: 2px solid #E4AB08;
    padding: 0.2em;
    display: block;
    position: relative; }
  #vm-component-search button {
    display: block;
    margin-top: 0.5rem; }
  #vm-component-search #search-list {
    border: 2px solid #019BDF;
    position: absolute;
    top: 0;
    margin-top: 2.1rem;
    padding: 0.5rem;
    background-color: #ccc;
    z-index: 10; }

/*# sourceMappingURL=style.css.map */
