$main-color: #019BDF;
$main-color__light: #00B1FF;
$secondary-color: #016FDF;
$dark-blue: #172850;
$success-color: #5CB85C;
$success-background: #DFF0D8;
$info-color: #1F6DB6;
$info-background: #D9EDF7;
$cancel-color: #D9534F;
$danger-color: #c44640;
$danger-background: #F2DEDE;
$dark-color: #191C21;
$crown-color: #FF9900; /* #E4AB08*/
$label-color: #a2a2a2;
$input-background: #DCDCDC;
$list-item-background: #ced5df;
$border-color:#b3b3b3; /* #E2E5EE */


// @import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');



*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
    outline: 0;
}
/* >>>>---- HELPERS ----*/
.margin-sm {
    margin: 0.5rem;
}
.center-align, .center-align-absolute{
  margin-left: auto;
  margin-right: auto;
}
.center-align-absolute{
  left: 0;
  right: 0;
}
.center-text{
  text-align: center;
}

.padding-sm{
  padding: 1em;
}
.box-radius{
  border-radius: 5px;
}
.not-visible, .notVisible {
/*  visibility: hidden;*/
  opacity: 0;
  -webkit-transition:opacity 1s linear;
}
.no-display {
  display: none;
}
.is-visible{
  visibility: visible;
  opacity: 1;
}
.invisible {
    visibility: hidden;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.right {
//  float: right;
  position: relative;
  left: 50%;
}
.left {
//  float: left;
  position: absolute;
  left: 0;
}

.bigger-text {
    font-size: 3em;
}
.big-text {
    font-size: 1.5em;
}
.mid-size-text {
    font-size: 1.2rem;
}
.can-scroll {
    overflow-y: auto;
}

.horizontal-short-line {
  border-bottom: 1px solid $border-color;
  width: 40%;
}

/* ---- HELPERS ----<<<<*/

/*Flashmessge*/
.flashmessage {
    position: absolute;
  left: 65px; /* 100px from nav */ 
    bottom: 2rem;
    width: 80%;

//    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);

    z-index: 99999;
  
  & span {
    padding: 0.8em;
    font-size: 1.3em;
  }
}
.flashmessage--success {
  background-color: $success-background;
  color: $success-color;
  border: 0.18em solid $success-color;
}
.flashmessage--danger {
  background-color: $danger-background;
  color: $danger-color;
  border: 0.18em solid $danger-color;
}
.flashmessage--info {
  background-color: $info-background;
  color: $info-color;
  border: 0.18em solid $info-color;
}
/*Flashmessge*/

.splash-screen {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $dark-blue;
    z-index: 20;
    & img {
        max-width: 300px;
        position: relative;
        top: 10%;
    }
}

.modal-background {
  width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10;
}

.modal__box {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 25%;
    background-color: #FFF;
    border: 2px solid $main-color;
}
button#btn-close-modal, .btn-delete-resident, #btn-close-inside-page {
  background: none;
  border: none;
  position: absolute;
  right: 0.6em;
  top: 0.5em;
  &:hover {
    opacity: 0.8;
        color: $cancel-color;
  }
  &:active {
    opacity: 0.5;
        color: $cancel-color;
  }
}

.modal__confirm-pay {
  padding-left: 1em;
  & button#btn-close-modal {
    background: none;
    border: none;
    position: absolute;
    right: 0.6em;
    top: 0.5em;
  }
  & p, span {
    margin: 0.1em 0;
  }
  font-size: 1.05em;
  & p > span {
    display: inline-block;
  }
  & span {
    font-size: 1.2em;
  }
  & span#jsAmount {
    position: relative;
    left: 60%;
    top: 15%;
    font-size: 2em;
  }
  & button#btn-print-receipt {
    position: absolute;
    bottom: 0.5em;
  }
  & button#btn-save-receipt {
    position: absolute;
    bottom: 0.5em;
    right: 0.6em;
  }
}

.modal__select-batch {
  color: $dark-blue;
  & p {
    margin-top: 1rem;
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  & label {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  & select {
    font-size: 1.5rem;
  }
}

.modal__generate-invoices {
    color: $dark-blue;
    & p {
        margin-top: 3rem;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    & select {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.modal__delete-resident {
    & p {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    & button#confirm-delete {
        margin: 1rem auto;
        background-color: $danger-color;
        &:hover {
            background-color: $danger-color;
            opacity: 0.8;
        }
    }
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  font-family: 'Ubuntu Condensed', sans-serif, 'calibri', 'ubuntu';
}
.big-font {
  font-size: 1.2em;
}
.bigger-font {
  font-size: 1.5em;
}
.normal-font {
    font-size: 1rem;
    font-weight: normal;
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
}
.italic {
  font-style: italic;
}
.letter-space {
    letter-spacing: 0.5em;
}


#main-page, #create-page {
  width: 100%;
  height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #000;

    &:visited {
      color: #000;
    }
    &:hover {
        text-decoration: none;
    }
}

h1, h2 {
  padding: 0.1em 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

header {
    width: 100%;
    height: 3.5em;
    background-color: $dark-blue;
    top: 0;
    position: absolute;
    z-index: 10;
    & img {
        max-width: 35px;
        position: absolute;
        right: 1rem;
        top: 0;
    }
    & button {
        border: none;
        background-color: $dark-blue;
        color: #FFF;
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        z-index: 15;
        &:hover {
            color: $crown-color;
        }    
    }
    & p {
        position: relative;
        top: 1rem;
        color: #FFF;
        font-size: 1.4rem;
        font-weight: bold;
    }
    & .menu {
        position: absolute;
        background-color: #fff;
//        border: 1px solid $crown-color;
        width: 17rem;
        height: 12.2rem;
        top: 2.5rem;
        left: 1.2rem;
//    padding: 0.5rem;
    box-shadow: 5px 5px 18px -6px #000000;
    & li {
      font-size: 1.1rem;
    }
        & a {
            padding: 1rem 1rem;
            text-align: left;
//      border-bottom: 1px solid grey;
            &:hover {
                background-color: $main-color;
                color: #fff;
            }
        }
    }
}


nav {
    width: 80px;
    background-color: $main-color;
    height: 100%;
    padding-top: 3.5em;
    position: absolute;
    left: 0;
    z-index: 9;
    & a {
        margin-top: 2em;
        padding: 0.2em 0.2em 0.2em 0;
    }
    & span {
        color: #fff;
        font-size: 0.9rem;
    }
   /* & .icon-selected {
        background-color: $main-color;
        & span {
            color: $crown-color;
        }
    }*/
   /* & a:hover {
        background-color: $main-color;
        & span {
            color: $crown-color;
        }
    }*/
  & a[href="#add-payment-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-money.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  & a[href="#add-payment-page"]:hover::before {
    background-image: url(../img/icon-money-o.png);
  }
  & a[href="#add-payment-page"].icon-selected::before {
    background-image: url(../img/icon-money-o.png);
  }
  & a[href="#residents-list-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-users.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  & a[href="#residents-list-page"]:hover::before {
    background-image: url(../img/icon-users-o.png);
  }
  & a[href="#residents-list-page"].icon-selected::before {
    background-image: url(../img/icon-users-o.png);
  }
  & a[href="#invoices-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-invoice.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  & a[href="#invoices-page"]:hover::before {
    background-image: url(../img/icon-invoice-o.png);
  }
  & a[href="#invoices-page"].icon-selected::before {
    background-image: url(../img/icon-invoice-o.png);
  }
  & a[href="#accounting-page"]::before {
    height: 56px;
    content: "";
    display: block;
    background-image: url(../img/icon-saving-book.png);
    background-size: 56px;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  & a[href="#accounting-page"]:hover::before {
    background-image: url(../img/icon-saving-book-o.png);
  }
  & a[href="#accounting-page"].icon-selected::before {
    background-image: url(../img/icon-saving-book-o.png);
  }
}

.btn {
  background-color: $main-color;
  border-radius: 5px;
  color: #FFF;
  border: none;
  font-size: 1.5rem;
  width: 7.5em;
  &:hover {
    background-color: $crown-color;
  }
  &:active {
    background-color: $crown-color;
    opacity: 0.8;
  }

    & i {
        position: relative;
        float: left;
    }
}

.btn__big {
    height: 9rem;
    width: 7rem;
    font-size: 1.2rem;
}

.btn--selected {
  background-color: $crown-color;
}

.btn--confirm {
    background-color: $success-color;
  &:hover {
    background-color: $success-color;
    opacity: 0.8;
  }
}

.page {
    width: 100%;
    height: 100%;
}

.add-payment-page__box, .residents-list-page__box, .invoices-page__box {
    padding-top: 5em;
    // margin-left: 4.5em;
    width: 100%;
    height: 100%;
}


#form-search {
    // right: 65px;
    position: relative;
  & p {
    color: $label-color;
    font-size: 1.4em;
    margin-bottom: 1em;
    
  }
    & input {
        width: 45%;
        font-size: 1.7em;
    border: 2px solid $crown-color;
    padding: 0.2em;
    }
  & button {
    margin-top: 0.8em;
  }
}

#form-receipt {
    margin-left: 7rem;
    position: relative;
  & label, p{
    font-size: 2.4em;
    color: $dark-blue;
        border: none;
  }
  & span {
    font-size: 1.1em;
    color: $label-color;
  }
  & #btn-close-form-receipt {
    background-color: #fff;
    border: none;
    position: relative;
    left: 85%;
        &:hover {
            color: $cancel-color;
        }
        &:active {
            opacity: 0.5;
            color: $cancel-color;
        }
  }
    & input#jsAmount {
        border: 1px solid #fff;
        padding: 0.4rem;
        font-size: 2rem;
        width: 18rem;
        color: $dark-blue;
        &:focus {
            background-color: $dark-blue;
            color: #fff;
            border: 1px solid $crown-color;
        }
    }

    & #wrapper-btn-pay-method input, select {
        color: $dark-blue;
        border: solid 2px $main-color;
        position: relative;
        width: 13em;
        top: 0.5em;
        padding-left: 0.2em;
    }
}

#wrapper-btn-pay-method {
  width: 100%;
    right: 65px; /* 100px from nav */
    position: relative;
  & button {
    display: inline-block;
    // width: 6em;
  }
}

#btn-confirm {
  position: absolute;
    right: 1em;
    bottom: -6em;
  // margin-top: 1em;
  // right: 1em;
}

#search-list, #search-list-resident-card, #extraordinary-invoices-list {
  width: 60%;
  position: relative;
  margin-top: 2em;
  & li {
    padding: 0.4em 0;
  }
  & li a {
    text-align: left;
    font-size: 2em;
    padding: 0.1em;
    &:hover {
      color: #FFF;
      background-color: $main-color;
            cursor: default;
    }
    &:active {
      background-color: $main-color__light;
    }
    & i {
      position: absolute;
      left: 95%;
    }
  }
}

.choose-resident #search-list {
    width: 80%;
    height: 9rem;
    overflow-x: hidden;
    overflow-y: auto
}

.residents-list-page__box {
    position: relative;
  & input {
    width: 45%;
        font-size: 1.7em;
        border: 2px solid $crown-color;
        padding: 0.2em;
  }
  & button {
    margin: 0.5em auto;
  }
    & #search-list-resident-id {
        width: auto;
        display: block;
    }
    & #btn-close-modal {
        top: 4rem;
        right: 0;
    }
    & .btn-delete-resident {
        top: initial;
        right: 0;
        bottom: 0;
    }
}

.form-resident-card {
    width: 84%;
    height: 33rem;
    padding: 0.5rem;
    overflow-y: auto;
    // overflow-wrap: normal;
    position: relative;
    left: 1.5rem;
    & .input-group {
        margin: 0 auto 1rem auto;
    }
  & label {
    margin: 0;
        margin-left: 0.3em;
    color: $label-color;
    padding: 0.2em 0 0 0;
  }
  & input, select {
    margin: 0;
    color: $dark-blue;
    padding-bottom: 0.2em;
    border: 1px #fff solid;
    font-size: 1.15em;
    width: auto;
        background-color: $input-background;
        border-radius: 5px;
    
    &[type="tel"] {
      width: 10.5em;
    }
    
    &:focus {
      // margin: 0;
      background-color: $dark-blue;
      color: #fff;
    }
    &:hover {
      // margin: 0;
      // color: $crown-color;
            border: 1px black solid;
    }
  }
  & span {
    display: inline-block;
    width: 12em;
  }
  & .wrapper {
    display: inline-block;
  }
    span.short-input {
        width: 5rem;
        margin-right: 1rem;
        & input {
            width: 6rem;
        }
    }
    & input.bank-account {
        width: 10.65rem;
    }
}
.form-resident-card--expanded {
  height: 25em;
}

#main-page {
    & img {
        max-width: 300px;
        top: 4rem;
        position: relative;
    }
}

.receipt-body, .receipt-html, .invoice-body, .invoice-html {
  overflow: auto;
  width: 8.5in;
  height: 11in;
}

.invoice-html {
  overflow: auto;
  width: 8.5in;
  height: auto;
}
.invoice-body {
  overflow: auto;
  height: auto;
  width: auto;
}

.printable-receipt {
  width: 50%;
  height: 50%;
  
  & img {
    width: 25%;
    height: 25%;
  }
  & p {
    margin: 0;
    font-size: 1.1em;
  }
  & .space-creator {
    margin: 2em 0;
  }
}

.invoice-page {
//  border: 1px solid yellow;
  $height: 7em;
  width: 8.5in;
  height: 11in;
  position: relative;
  display: block;
  & img {
    max-width: 35%;
    position: relative;
    top: 0;
  }
  & .invoice-header {
    height: 9.5rem;
    margin-bottom: 1em;

    & p#invoice-text-header {
      position: absolute;
      top: 2.9rem;
      right: 0;
    }
        & p span {
            font-size: 1rem;
        }
  }
  & .frase-text {
    width: 100%;
    height: 5rem;
    border: 3px solid $main-color;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    & p {
      margin: 0.3rem auto;
    }
  }
  & .resident-details {
    height: $height;
    vertical-align: top;
  }
  & .invoice-details {
    height: $height;
    vertical-align: top;
    line-height: 2em;
    position: absolute;
    left: 50%;
        & p {
            font-size: 1.1rem;
        }
  }
  & .invoice-details__data {
    height: $height;
    vertical-align: top;
    text-align: right;
    line-height: 2em;
    float: right;
  }
}
.pagada {
    background-image: url(../img/pagada.png);
    background-position: 0;
    background-size: cover;
}

table.invoice {
  margin-top: 2rem;
  & .table-head {
    padding: 0.5em 0;
    border-top: solid 2px $main-color;
    border-bottom: solid 2px $main-color;
    color: $dark-blue;
  }
  & th {
    font-weight: bold;
  }
  & .data {
        margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  & th, td {
    display: inline-block;
  }
  & .qty {
    width: 5em;
    text-align: center;
    vertical-align: top;
  }
  & td.qty {
    vertical-align: top;
  }
  & .description {
    width: 20.2em;
  }
  & th.description {
    text-align: center;
    vertical-align: top;
  }
  & .amount, .total {
    width: 10em;
    text-align: right;
    vertical-align: top;
  }
  & .data__total {
    margin-top: 1em;
    & .amount, .total {
      font-weight: bold;
    }
  }
}

table.footer {
  position: absolute;
  bottom: 1rem;
  width: 60%;
  border: 2px solid black;
  & td {
    border: 2px solid black;
    text-align: center;
    padding: 0.4rem 0;
  }
}

.invoices-page__box {
    & button {
        margin: 1em auto;
        // width: 10em;
    }

    & input {
        width: 45%;
        font-size: 1.7em;
        border: 2px solid $crown-color;
        padding: 0.2em;
    }

    & section#invoices-page__buttons {
        width: 80%;
        height: 10rem;
        position: relative;
        top: 4rem;
        & .btn__big {
            margin: auto 1rem;
            display: inline-block;
            position: relative;
            & i {
                float: none;
                position: absolute;
                top: 0.5rem;
                text-align: center;
            }
            & p {
                position: absolute;
                bottom: 0.1rem;
                font-size: 1.1rem;
            }
        }
    }
    & section#invoices-page__resident-payed {
        // background-color: #E8E8E8;
        // border: 2px solid $main-color;
        width: 46rem;
        height: 30rem;
        margin-left: 8rem;
        position: relative;
        padding: 1rem;
        overflow-y: scroll;
        & .invoices-page__resident-payed__box {
            position: relative;
            top: -4rem;
            height: 1rem; //Hack so heigh wont make the buttons unaccessible
        }
        & .invoices-page__resident-payed__detaills {
            background-color: #fff;
            // box-shadow: 0px 8px 16px -6px #000000;
            border: 1px solid $border-color;
            height: 6.5rem;
            width: 100%;
            position: relative;
            padding-left: 0.5rem;
            top: 2.5rem;
            margin-top: 1rem;
            // text-align: center;
            & p {
                padding: 0.3rem 0 0.15rem 0rem;
                &.invoice-id {
                    color: $crown-color;
                    font-weight: 700;
                    font-size: 1.5rem;
                }
                &.amount {
                    color: $dark-blue;
                    font-weight: bold;
                }
                &.description {
                    font-weight: bold;
                }
            }
            & .btn--menu-dots {
              background-color: white;
              border: none;
              z-index: 11;
              right: 0.5rem;
              top: 0;
              position: absolute;
              &:hover {
                color: $crown-color;
              }
            }
            & .invoice-menu {
              width: 100px;
              height: 60px;
              position: absolute;
              right: 18px;
              top: 31px;
              z-index: 1;
              background-color: white;
              box-shadow: 0px 8px 16px -6px #000000;
              border: 1px solid $border-color;
              & ul li {
                padding: 0.4rem 0 0.4rem 0.2rem;
                border-radius: 5px 5px 0 0;
                &:nth-child(2) {
                  border-radius: 0 0 5px 5px;
                }
                &:hover {
                  background-color: $crown-color;
                  color: white;
                  cursor: default;
                }
              }
              & ul li i {
                margin-right: 0.3rem;
              }
            }
        }
        & .invoices-page__resident-payed__buttons {
            background-color: #fff;
            width: 17rem;
            margin-left: 2rem;
            position: relative;
            top: 13rem;
            padding: 0 0.5rem;
            & button {
                width: 4rem;
                font-size: 1rem;
                display: inline-grid;
            }
            & button.btn--delete {
                background-color: $label-color;
                float: right;
                &:hover {
                    background-color: $danger-color;
                }
            }
        }
        & #btn-close-modal {
            top: 10.3em;
            right: 0.85em;
            position: fixed;
        }
        & .btn#print-pending-invoices {
            // position: relative;
            // top: 17rem;
            width: 23rem;
            height: 3rem;
        }
    }
}

.invoices-page__section-header span {
  margin: 0;
  padding: 0 10px;
  background-color: #fff;
  display: inline-block;
}

.invoices-page__section-header {
  text-align: center;
  position: relative;
  z-index:2;

  &:after {
    content: "";
    position: absolute;
    border-top: solid 1px $border-color;
    top: 50%;
    left: 20%;
    right: 20%;
    z-index: -1;
  }
}


.input-group {
  & label {
    display: inline-block;
  }
}

.configs-page-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-left: 80px;
  & .configs-form {
    top: 2rem;
    position: relative;
    left: 3rem;
  }
  & label {
    margin: 0;
        margin-left: 0.3em;
    color: $label-color;
    padding: 0.2em 0 0 0;
    display: inline-block;
    margin-top: 1.5rem;
  }
  & input, textarea {
    margin: 0;
    color: $dark-blue;
    padding-bottom: 0.2em;
        padding-left: 0.5rem;
    border: 1px #fff solid;
    font-size: 1.15em;
    width: auto;
        background-color: $input-background;
        border-radius: 5px;
    &:focus {
      // margin: 0;
      background-color: $dark-blue;
      color: #fff;
    }
    &:hover {
      // margin: 0;
      // color: $crown-color;
            border: 1px black solid;
    }
  }
  & .config-category {
    width: 10rem;
  }
  & label input[name="config-email"] {
    width: 41.9rem;
  }
  & label input[name="config-bank"], label input[name="config-bank-account"] {
    width: 20.7rem;
  }
  & label input[name="config-frase"] {
    width: 41.9rem;
    height: 4rem;
  }
  & textarea {
    width: 41.9rem;
    height: 4rem;
    font-size: 1.1rem;
  }
  & button {
    position: absolute;
    bottom: 2rem;
  }
}

.inner-box {
    padding: 0 1rem;
    & label {
        margin: 0;
        margin-bottom: 1rem;
        margin-left: 0.3em;
        color: $label-color;
        padding: 0.2em 0 0 0;
    }
    & input, select {
        // margin: 0;
        color: $dark-blue;
        padding-bottom: 0.2em;
        border: 1px #fff solid;
        font-size: 1.15em;
        width: auto;
        background-color: $input-background;
        border-radius: 5px;
        margin-bottom: 0.2rem;
    }
    & select {
        margin: auto;
        margin-bottom: 1rem;
    }
    & button {
        width: 13.9rem;
    }
    &.choose-batch-type button {
        margin: 1rem auto;
        width: 20rem;
    }
}

.accounting-page-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-left: 80px;
    & p {
        display: block;
    }
    & .header {
        background-color: $list-item-background;
        width: 100%;
        height: 5rem;
        padding: 0.7rem;
        color: $dark-blue;
        position: relative;
        top: -1.48rem;
        & h3 {
            width: 100%;
            display: block;
            margin-bottom: 0.8rem;
        }
        & div {
            display: inline-block;
            width: 9.6rem;
            border-right: 1px solid $dark-blue;
            & p:nth-child(1) {
                font-size: 0.8rem;
            }
            & p:nth-child(2) {
                font-size: 1.3rem;
                font-style: bold;
            }
        }
        & div:nth-child(6) {
            border: none;
        }
    }
    & #btn-close-inside-page {
        position: absolute;
        right: 3rem;
        top: 8rem;
        border: none;
        background: none;
    }
    & section .btn__big {
        width: 8rem;
        margin: auto 1rem;
        display: inline-block;
        position: relative;
        & i {
            float: none;
            position: absolute;
            top: 0.5rem;
            text-align: center;
        }
        & p {
            position: absolute;
            bottom: 0.1rem;
            font-size: 1.1rem;
        }
    }
    & .accounting-page__inside-page {
        position: relative;
        width: 50rem;
        height: 33rem;
    }
    & #accounting-page-residents-list {
        overflow-y: auto;
        position: relative;
        & .list {
            background-color: $list-item-background;
            width: 80%;
            height: 9rem;
            position: relative;
            color: $dark-blue;
            font-size: 1.1rem;
            margin: 1rem;
            padding: 1rem;
        }
    }
    & #accounting-page-add-debit {
        overflow-y: auto;
    }
}

#table-debit {
    font-size: 0.95rem;
    & .red-on-hover:hover {
        background-color: $danger-color;
        color: #fff;
        cursor: url('../img/delete-sign.png'), auto;
    }
    & .red-on-hover:active {
        opacity: 0.8;
    }
}

.table-extraordinary-invoices {
   margin-bottom: 1rem;
   & .color-red { color: red };
}

#vm-component-search {
  position: relative;
  & input {
    width: 45%;
    height: 2rem;
    font-size: 1.7em;
        border: 2px solid $crown-color;
        padding: 0.2em;
    display: block;
    position: relative;
  }
  & button {
    display: block;
    margin-top: 0.5rem;
  }
  & #search-list {
    border: 2px solid $main-color;
    position: absolute;
    top: 0;
    margin-top: 2.1rem;
    padding: 0.5rem;
    background-color: #ccc;
    z-index: 10;
  }
}

#residents-statement {
  padding-top: 5rem;
  & #head-title {
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    width: 15rem;
    text-align: center;
    position: relative;
    bottom: 4rem;
  }
  & #vm-component-search {
    bottom: 4rem;
  }
  & .el-select {
    display: table;
    margin-top: 4.5rem;
    margin-bottom: 0.8rem;
    width: 30.5rem;
    & .el-input__inner {
      border:2px solid $crown-color;
    }
  }
  & .btn--custom {
    width: 30.5rem;
    margin-top: 1rem;
    height: 2.5rem;
  }
  & .btn-back {
    position: relative;
    left: 7rem;
    bottom: 1.6rem;
    font-size: 31px;
  }
  & #resident-details, #table-headers, .el-table {
    border: 1px solid $border-color;
    width: 85%;
    margin-left: 6.7rem;
    position: relative;
    bottom: 4rem;
  }
  & .el-table {
    bottom: 3.8rem;
  }
  & #resident-details {
    height: 7rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    & button {
      position: relative;
      left: 35.3rem;
      bottom: 4rem;
    }
  }
  & #table-headers {
    margin-top: 1rem;
    height: 15rem;
    overflow-y: auto;
    & span {
      display: inline-block;
      background-color: #3E3D45;
      color: white;
      padding: 0.3rem;
      text-align: center;
      position: static;
    }
    & td {
      padding: 0.3rem;
      text-align: center;
    }
    & #span1, .td1 {
      width: 4rem;
    }
    & #span2, .td2 {
      width: 5.2rem;
    }
    & #span3, .td3 {
      width: 12rem;
    }
    & #span4, #span5, #span6, .td4, .td5, .td6 {
      width: 7rem;
    }
    & table, .el-table {
      height: 15rem;
    }
  }
}